@charset "utf-8";

.hidden{overflow:hidden;position:absolute;top:0;left:-9999px;width:1px;height:0;font-size:0;line-height:0;opacity:0}
.bar{color:#c5c5c5}
.green{color: #339900;}


/* 헤더 부분 */
#header{width: 100%;}
.top_box{width: 100%;min-width: 940px;height: 30px;position: relative;border-bottom: 1px solid #dfdfdf;background-color: #fbfbfb;z-index: 11;}
.top_left{padding: 7px 8px 0}
.top_left li{float: left;}
.top_left li  a{display: block;font-size: 11px;margin-left: 6px; letter-spacing: -1px;background: url(../images/bullet.png) no-repeat right 4px;padding-right: 6px;line-height: 16px;}
.top_left li  a:hover,.top_left li > a:focus{text-decoration: underline;}
.top_left li .n_app{height: 16px;margin-left: 10px;letter-spacing: -1px;background: url(../images/icon.png) no-repeat -420px -541px;padding-left: 22px;}
.top_left .s_font{position: relative;background: url(../images/sp_vertical.png) no-repeat 8px 5px;margin: -2px 0 0 4px;background-color: #fdfdfd;}
.top_left .s_font > a{position: relative;height: 18px;display: block;border: 1px solid #ccc;background: url(../images/bullet.png) no-repeat 72px -656px;padding:0 17px 0 21px;margin: 0;line-height: 20px;float: left;}
.top_left .s_font > a:hover, .top_left .s_font > a:focus{text-decoration: none;border: 1px solid #999;z-index: 10}
.top_left .s_font.list_on .font_list {display: block;}
.top_left .s_font .font_list {display: none;position: absolute;left: 0;top: 19px;height: 18px;}
.top_left .s_font .font_list a{display: block;width: 50px;border: 1px solid #ccc;background:#f2f2f2 url(../images/sp_vertical.png) no-repeat 7px 4px;padding: 0;padding:0 17px 0 21px;margin: 0;line-height: 18px;float: left;font-family: '나눔고딕',NanumGothic,sans-serif;text-decoration: none;}
.top_left .s_font .font_list a:hover,.top_left .s_font .font_list:focus{color: #fff;border: 1px solid #5c5e68;background-color: #7a7d89;background-position: 7px -206px;}
.top_left .s_font.help_on .font_help + div{display: block;}
.top_left .s_font .font_help + div{display: none;width: 109px;position: absolute;left: 0;top: 20px;padding: 8px 0 3px;border: 1px solid #ccc;background:#fafafa;z-index: 10;border-top: none;}
.top_left .s_font ul li{margin-bottom: 3px;}
.top_left .s_font button{position: absolute;width: 17px;height: 17px;bottom: 0px;right: 2px;background: url(../images/sp_vertical.png) no-repeat -7px -176px;z-index: 11;}
.top_left li a.font_help{display: block;width: 20px;height: 18px;padding: 0;float: left;border: 1px solid #ccc;background: url(../images/sp_vertical.png) no-repeat 0 -90px;border-left: 1px solid #e3e3e3;margin-left: -1px;}
.top_left li a.font_help:hover,.top_left li a.font_help:focus{border: 1px solid #999;background-position: 0 -120px;}

.top_center{margin-left: -71px;position: absolute;left: 50%;top: 0;}
.top_center li{width:48px;height: 31px;float: left;}
.top_center li a{display: block;height: 31px;}
.top_center .head_menu01{background: url(../images/icon.png) no-repeat 0 0;}
.top_center .head_menu02{background: url(../images/icon.png) no-repeat -48px 0;}
.top_center .head_menu03{background: url(../images/icon.png) no-repeat -96px 0;}

.top_right{float: right;margin-right: 10px;}
.top_right li{float: left; margin: 0 3px 0 4px;}
.top_right .head_link01{width: 30px;height: 16px;background: url(../images/icon.png) no-repeat -340px -41px;text-indent: -9999px}
.top_right .head_link01 a{display: block;width: 30px;height: 16px;float: left;}
.top_right .bar {color:#dfdfe1;margin: 0;margin-top: 2px;}
.top_right .head_link02{width: 54px;height: 16px;background: url(../images/icon.png) no-repeat -50px -71px;text-indent: -9999px}
.top_right .head_link02 a{display: block;width: 54px;height: 16px;float: left;}

/* skip_nav */
.skip_nav{position: relative;}
.skip_nav a{width: 130px;height: 30px;background-color: #000;position: absolute;top: -30px;display: block;color: #fff;line-height: 30px;text-align: center;z-index: 100;}
.skip_nav a:focus{top: 0;outline-color: #2db400}

/* 검색 부분 */
.search_box{width: 823px;height: 65px;margin: 0 auto;position: relative;padding: 37px 0 23px 117px;}
.search_box h1{width: 210px;height: 78px;float: left;margin-top: -19px;}
.search_box h1 a{display: block;height: 78px;background: url(../images/logo.gif) no-repeat;overflow: hidden;text-indent: -9999px;}
.search_box .search {position: relative;float: left;}
.search form span{float: left;display: block;width: 352px;height: 20px; border: 3px solid #2db400;padding: 7px;background-color: #fff;}
.search form span input{border: 0;width: 324px;height: 20px;line-height: 21px;font-size: 16px;font-weight: bold;}
.search form span input:focus{outline:none;}
.search button{margin-left: 5px;background: url(../images/btn_search.png) no-repeat;width: 54px;height: 40px;text-indent: -9999px;}
.search form a{position: absolute;top: 3px;right: 62px;width: 27px;height: 34px;background: url(../images/searchBtn.gif) no-repeat center center;overflow: hidden;text-indent: -9999px;}
.search form a.on{background: url(../images/searchBtn_on.gif) no-repeat center center;}
.auto_search {display: none;position: absolute;z-index: 16;left: 2px;top: 38px;width: 366px;overflow: hidden;border: 1px solid #999;border-top: none;background-color: #fff;}
.auto_search.on {display: block;}
.auto_search ul{padding: 15px 10px 11px;color: #666;}
.auto_search > div{padding:5px 10px 7px;border-top: 1px solid #dedede;background-color: #f5f5f5;}
.auto_search > div a{font-size: 11px;letter-spacing: -1px;color: #666;}
.auto_search > div .auto_btn{float: right;margin-top: 1px;}
.recommend{margin-top: 9px; position: relative;}
.recommend h3{float: left;width: 15px;text-indent: -9999px;background: url(../images/etc.png) no-repeat -35px 1px;margin-right: 2px;}
.recommend .on{display: block;}
.recommend ul{display: none;}
.recommend ul li{float: left;margin-right: 12px;}
.recommend ul li a:hover,.recommend ul li a:focus{text-decoration: underline;}
.recommend .recommend_btn{position: absolute;right: 22px;top: -2px;}
.recommend .recommend_btn a{display: block;overflow: hidden;text-indent: -9999px;width: 16px;height: 16px;float: left;}
.recommend .recommend_btn .rb_prev{background: url(../images/icon.png) no-repeat -350px -290px;}
.recommend .recommend_btn .rb_next{background: url(../images/icon.png) no-repeat -366px -290px;}
.search_box .search_banner{position: absolute;top: 37px;right: 0;}

/* 메인 메뉴 */
.main_menu{position: relative;width: 906px;margin: 0 auto;height: 14px;background-color: #23b300;padding:12px 22px 12px 12px;z-index: 15;}
.main_menu > ul {float: left;}
.main_menu > ul li{float: left;margin-left: 10px;}
.main_menu > ul .m_mail{width: 24px;height: 14px;background: url(../images/all_menu.png) no-repeat -1px -50px;margin-left: 7px;}
.main_menu > ul .m_cafe{width: 24px;height: 14px;background: url(../images/all_menu.png) no-repeat -35px -50px;}
.main_menu > ul .m_blog{width: 36px;height: 14px;background: url(../images/all_menu.png) no-repeat -70px -50px;}
.main_menu > ul .m_brain{width: 36px;height: 14px;background: url(../images/all_menu.png) no-repeat -116px -50px;}
.main_menu > ul .m_shop{width: 24px;height: 14px;background: url(../images/all_menu.png) no-repeat -162px -50px;}
.main_menu > ul .m_cast{width: 31px;height: 14px;background: url(../images/all_menu.png) no-repeat -196px -50px;}
.main_menu > ul .m_dic{width: 24px;height: 14px;background: url(../images/all_menu.png) no-repeat -260px -50px;}
.main_menu > ul .m_news{width: 24px;height: 14px;background: url(../images/all_menu.png) no-repeat -295px -50px;}
.main_menu > ul .m_stock{width: 24px;height: 14px;background: url(../images/all_menu.png) no-repeat -329px -50px;}
.main_menu > ul .m_apart{width: 38px;height: 14px;background: url(../images/all_menu.png) no-repeat -239px -70px;}
.main_menu > ul .m_map{width: 24px;height: 14px;background: url(../images/all_menu.png) no-repeat -364px -50px;}
.main_menu > ul .m_movie{width: 24px;height: 14px;background: url(../images/all_menu.png) no-repeat -399px -50px;}
.main_menu > ul .m_music{width: 24px;height: 14px;background: url(../images/all_menu.png) no-repeat -433px -50px;}
.main_menu > ul .m_book{width: 14px;height: 14px;background: url(../images/all_menu.png) no-repeat -467px -50px;}
.main_menu > ul .m_webtoon{width: 27px;height: 14px;background: url(../images/all_menu.png) no-repeat -491px -50px;}
.main_menu > ul .m_npay{width: 40px;height: 16px;background: url(../images/all_menu.png) no-repeat -657px -90px;}
.main_menu > ul .m_more{margin-left: 8px;width: 54px;height: 14px;background: url(../images/all_menu.png) no-repeat -65px 0px;}
.main_menu > ul + ul{padding-left: 5px; background: url(../images/bullet.png) no-repeat 6px -124px;}
.main_menu > ul + ul + ul{padding-left: 3px;}
.main_menu > ul li a{display: block;height: 14px;overflow: hidden;text-indent: -9999px; }

/* 인기검색어 */
.time_search {position: relative;float: right;width: 142px;overflow: hidden;height: 14px;margin-top: 1px;}
.time_search h3{font-size: 12px;letter-spacing: -1px;}
.time_search ol{background: url(../images/icon.png) no-repeat -426px -21px;height: 200px;}
.time_search ol li{width: 100%;height: 16px;margin-bottom: 4px;}
.time_search ol li a{display: block;position: relative;padding-left: 20px;color: #fff;}
.time_search ol li a span{position: absolute;right: 0;color: #000;width: 24px;text-align: center;font-size: 11px;text-decoration: none;cursor:pointer}
.time_search ol li a span + span{width: 8px;height: 12px;right: 24px;}
.time_search ol li a .up {background: url(../images/icon.png) no-repeat -70px -108px;}

.time_search.on {position: absolute;top: -1px;right: 0;width: 160px;height: 258px;background-color: #fff;z-index: 15;border: 1px solid #2db400;padding: 20px;}
.time_search.on h3{display: block;}
.time_search.on ol {background-position: -426px -996px;height: auto;}
.time_search.on ol li {margin-top: 8px;}
.time_search.on ol li.on{font-weight: bold;}
.time_search.on ol li a {color: #333;}
.time_search.on ol li a:hover,.time_search.on ol li a:focus {text-decoration: underline;}
.time_search.on ol li a .up{background-position: -70px -120px;}

/* 뉴스 부분 */
#content {width: 940px;margin: 3px auto;overflow: hidden;}
.news_wrap{width: 640px;float: left;}
.news_box{width: 609px;border: 1px solid #e6e6e6; background-color: #f9f9f9;margin-top: 5px;padding: 9px 10px 9px 14px;height: 14px;}
.news_box h3{background: url(../images/icon.png) no-repeat -184px -306px;width: 50px;height: 12px;float: left;margin-right: 10px;}
.news_box h3 a{display: block;overflow: hidden;text-indent: -9999px;}
.news_box .news_rolling{float: left;height: 14px;overflow: hidden;position: relative;}
.news_box .news_rolling ul{overflow: hidden;}
.news_box .news_rolling li{height: 14px;margin-bottom: 6px;}
.news_box ul li a:hover,.news_box ul li a:focus{text-decoration: underline;}
.news_box .news_cate{float: right;margin-top: 2px;}
.news_box .news_cate li{float: left;color:#d0d0d1;padding-left: 2px;}
.news_box .news_cate li a{display: block;float: left;font-size: 11px;letter-spacing: -0.09em;padding-right: 2px;}

#news_stand{width: 633px;border: 1px solid #d6d6d6; background-color: #fff;margin-top: 5px;}
.news_header{border-bottom: 1px solid #e7e7e7;height: 12px;padding: 14px;position: relative;}
.news_header h3{background: url(../images/icon.png) no-repeat -184px -292px;width: 60px;height: 14px;float: left;margin-right: 9px;}
.news_header h3 a{display: block;overflow: hidden;text-indent: -9999px;}
.news_header > ul{margin-top: 1px;}
.news_header > ul .on{font-weight: bold;}
.news_header > ul li{float: left; color:#d0d0d1;padding-right: 5px;}
.news_header > ul li a{letter-spacing: -0.08em;margin-right: 6px;}
.news_header > ul li a:hover,.news_header > ul li a:focus{text-decoration: underline;}
.news_header > ul li + li a{letter-spacing: -0.95px;} 
.news_header .news_view{position: absolute;right: 136px;top: 8px;}
.news_header .news_view a{display: block;float: left;overflow: hidden;text-indent: -9999px;width: 27px;height: 24px;background: url(../images/icon.png) -384px -926px no-repeat;}
.news_header .news_view a + a{background: url(../images/icon.png) -411px -952px no-repeat;}
.news_header .news_sel{position: relative;float: right;border: 1px solid #d0d0d1;width: 111px;height: 22px;margin-top: -7px;}
.news_header .news_sel a{display: block;font-weight: bold;font-size: 11px;color: #4a4a4a;padding: 5px 9px;letter-spacing: -0.08em}
.news_header .news_sel > a{background: url(../images/bullet.png) no-repeat 94px -309px;}
.news_header .news_sel > a.on{background-position: 94px -327px;}
.news_header .news_sel > a:hover{color: #339900;}
.news_header .news_sel > a.on + ul{display: block;}
.news_header .news_sel ul {display: none;position: absolute;z-index: 20;left: -1px;top: 22px;width: 93px;border: 1px solid #d0d0d1;background-color: #fff;padding: 3px 9px 6px;border-top-color:#e7e7e7}
.news_header .news_sel ul li{margin-top: 3px;}
.news_header .news_sel ul li a{font-weight: normal;padding: 0;color: #888;}
.news_header .news_sel ul li a.on{font-weight: bold;text-decoration: underline;color:#339900}
.news_header .news_sel ul li a:hover{text-decoration: underline;}

.news_con{height: 166px;}
.news_con ul{display: none;overflow: hidden;}
.news_con ul li{display: none;float: left;width: 105px;height: 83px;}
.news_con ul li a{display: block;width: 81px;height: 74px;padding: 4px 12px;border-right: 1px solid #f4f4f4;border-bottom: 1px solid #f4f4f4;}
/* .news_con ul li.last a{width: 84px;} */
.news_con > div{display: none;text-align: center;padding: 63px 0 30px;line-height: 17px;}
.news_con > div button{width: 111px;height: 31px;margin-top: 10px;background: url(../images/icon.png) no-repeat -174px -863px}
.news_con .on{display: block;}
.news_con > div.on{position: relative;z-index: 11;background-color:#fff;}

.news_footer {position: relative;height: 14px;border-top: 1px solid #e7e7e7;margin-top: -2px;background-color: #fff;padding: 11px 19px 13px;}
.news_footer > a{background: url(../images/sp_vertical.png) no-repeat 0 -248px;font-weight: bold;font-size: 11px;padding-left: 14px;color: #888;letter-spacing: -0.09em;padding-top: 1px;}
.news_footer .page_arrow{position: absolute;right: 14px;top: 10px;}
.news_footer .page_arrow p{font-family: 'tahoma',sans-serif;float: left;font-weight: bold;font-size: 10px;color: #bbb;margin:2px 6px 0}
.news_footer .page_arrow p span{color:#888;}
.news_footer .page_arrow a{display: block;width: 24px;height: 24px;float: left;background: url(../images/icon.png) no-repeat -188px -36px;overflow: hidden;text-indent: -9999px;margin-top: -2px;}
.news_footer .page_arrow a + a{width: 25px;background-position:-216px -36px;}

/* 로그인 영역 */
#login_wrap{float: right;width: 300px;}
#login_wrap a:hover, #login_wrap a:focus{text-decoration: underline;}
.login_box{position: relative;height: 77px;background-color: #f8f8f8;border: 1px solid #dcdcdc;padding: 14px 13px;}
.login_box .login_input {width: 121px;height: 26px;border: 1px solid #bebebe;background-color: #fff;overflow: hidden;position: relative;}
.login_box .login_input + .login_input {margin-top: -1px;}
.login_box .login_input input{border: 0;padding: 5px;height: 16px;}
.login_box .login_input input:focus{background-color: #feffcc;}
.login_box .login_input label{position: absolute;top: 6px;left: 5px;cursor:text}
.login_box fieldset > p{position: relative;margin: 8px 1px;}
.login_box fieldset > p label{position: relative;z-index: 2;background: #f8f8f8 url(../images/login.gif) no-repeat 0 -31px;padding-left: 16px;cursor:pointer;font-size: 11px;padding-top: 2px;letter-spacing: -0.09em;color:#888}
.login_box fieldset > p input[type=checkbox]{position: absolute;width: 96px;height: 12px;top: 0;left: 0;border: 0;cursor:pointer;z-index: 1;}
.login_box fieldset > p input[type=checkbox].on ~ label{background-position: 0 -50px;} /* 지우고 스크립트 */
.login_ip{position: absolute;top: 14px;right: 13px;}
.login_ip .login_submit{position: absolute;right: 84px;top: 0;}
.login_ip .login_submit input[type=submit]{width: 66px;height: 55px;font-family: Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;letter-spacing: -1px;background-color: #fdfdfd;border: solid 1px #bebebe;cursor:pointer}
.login_ip p{width: 62px;height: 18px;border: solid 1px #e9e9e9;background-color: #fbfbfb;padding: 8px 8px 0;font-size: 11px;}
.login_ip p ~ p{width: 78px;padding: 0;margin-top: -1px;height: 26px;}
.login_ip p ~ p a{display: block;height: 26px;line-height: 26px;width: 100%;margin: 0;text-align: center;letter-spacing: -1px;padding: 1px;}
.login_ip p a{float: left;margin-right: 5px;}
.login_ip p a:focus,.login_ip p a:hover{text-decoration: underline;}
.login_ip p span{position: relative;display: block;width: 24px;height: 12px;float: left;}
.login_ip p span input[type=checkbox]{position: absolute;width: 24px;height: 12px;top: 0;left: 0;border: 0;cursor:pointer;z-index: 1;}
.login_ip p span input[type=checkbox].on ~ label{background-position: 0 -13px;}/* 지우고 스크립트 */
.login_ip p span label{position: relative;display: block;width: 24px;height: 13px;z-index: 2;background: url(../images/login.gif) no-repeat 0 0;cursor:pointer;text-indent: -9999px;font-size: 0;}
.login_menu {position: absolute;left: 135px;top: 77px;color:#888;}
.login_menu a{font-size: 11px;letter-spacing: -1px;margin-right: 11px;color:#888;}
.login_menu a + a{margin: 0;}

#today_box{position: relative;height: 133px;background-color: #f8f8f8;border: 1px solid #dcdcdc;padding: 9px 12px;margin-top: -1px;zoom:1}
#today_box > h3{width: 40px;height: 14px;text-indent: -9999px;background: url(../images/icon.png) no-repeat -247px -291px;float: left;margin-bottom: 11px;}
.Tbox_date{float: right;color:#888;letter-spacing: -1px;font-size: 11px;margin-top: 1px;}
.Tbox_date a{color:#888}
.Tbox_date a + a{padding-right: 7px;background: url(../images/bullet.png) no-repeat 100% 2px;margin-left: 13px;}
.Tbox_date strong{letter-spacing: 0;}
#today_box > ul{clear: both;overflow: hidden;margin-bottom: 4px;}
#today_box > ul li{height: 14px;margin-bottom: 7px;}
#today_box > ul li strong{padding-right: 6px;margin-right: 7px;background: url(../images/bullet.png) no-repeat 100% -614px}
.Tbox_menu{clear: both;}
.Tbox_menu > a{width: 63px;height: 23px;float: left;background: url(../images/icon.png) no-repeat 0 -142px;overflow: hidden;text-indent: -9999px;}
.Tbox_menu .page_arrow{float: right;margin-top: 3px;}
.Tbox_menu .page_arrow p{font-family: 'tahoma',sans-serif;float: left;font-weight: bold;font-size: 10px;color: #bbb;margin:2px 6px 0;}
.Tbox_menu .page_arrow p span{color:#888;}
.Tbox_menu .page_arrow a{display: block;width: 24px;height: 24px;float: left;background: url(../images/icon.png) no-repeat -188px -36px;overflow: hidden;text-indent: -9999px;margin-top: -2px;}
.Tbox_menu .page_arrow a + a{width: 25px;background-position:-216px -36px;}
.login_ad{margin-top: 2px;}

/* POST 부분 */
#post_box {float: left;width: 633px;border: 1px solid #d6d6d6; background-color: #fff;margin-top: 6px;}
.post_menu{margin-left: -1px;zoom:1;overflow: hidden;}
.post_menu li{float: left;height: 46px;background: url(../images/all_menu.png) no-repeat;padding: 0 1px;}
.post_menu li a{display: block;height: 46px;text-indent: -9999px;overflow: hidden;}
.post_menu .p_live{width: 42px;background-position: 0 -316px;}
.post_menu .p_live.on{width: 44px;background-position: 0 -368px;padding: 0;}
.post_menu .p_food{width: 41px;background-position: -44px -316px;}
.post_menu .p_food.on{background-position: -44px -368px;}
.post_menu .p_sport{width: 47px;background-position: -87px -316px;}
.post_menu .p_sport.on{background-position: -87px -368px;}
.post_menu .p_car{width: 49px;background-position: -136px -316px;}
.post_menu .p_car.on{background-position: -136px -368px;}
.post_menu .p_fas{width: 55px;background-position: -187px -316px;}
.post_menu .p_fas.on{background-position: -187px -368px;}
.post_menu .p_web{width: 41px;background-position: -244px -316px;}
.post_menu .p_web.on{background-position: -244px -368px;}
.post_menu .p_game{width: 41px;background-position: -287px -316px;}
.post_menu .p_game.on{background-position: -287px -368px;}
.post_menu .p_tv{width: 53px;background-position: -330px -316px;}
.post_menu .p_tv.on{background-position: -330px -368px;}
.post_menu .p_music{width: 41px;background-position: -385px -316px;}
.post_menu .p_music.on{background-position: -385px -368px;}
.post_menu .p_movie{width: 41px;background-position: -428px -316px;}
.post_menu .p_movie.on{background-position: -428px -368px;}
.post_menu .p_book{width: 47px;background-position: -471px -316px;}
.post_menu .p_book.on{background-position: -471px -368px;}
.post_menu .p_brain{width: 55px;background-position: -520px -316px;}
.post_menu .p_brain.on{background-position: -520px -368px;}
.post_menu .p_divide{width: 55px;background-position: -577px -316px;}
.post_menu .p_divide.on{background-position: -577px -368px;}

.post_con {display:none;padding: 9px 8px 32px;overflow: hidden;}
.post_con.on {display: block;}
.post_con li{float: left;width: 136px;border: 1px solid #ececec;height: 147px;margin: 13px 0 0 13px;background-color: #fbfbfb;}
.post_con li img{margin:-1px 0 0 -1px}
.post_con li a{display: block;}
.post_con li strong{display: block;padding:8px 9px 0;color:#616161;margin-bottom: 7px;}
.post_con li > span{font-size: 11px;letter-spacing: -1px;padding: 0 9px;color: #888;}
.post_con li a:hover strong{text-decoration: underline; color:#390}
.post_con .post_colspan{position: relative;width: 289px;border: 0;}
.post_con .post_colspan a:hover strong{text-decoration: underline; color:#fff}
.post_con .post_colspan img{margin: 0;}
.post_con .post_colspan p{position: absolute;width: 267px;height: 44px;left: 0;top: 0;color:#fff;margin-top: 29px;padding: 76px 11px 0;background: url(../images/etc.png) no-repeat -145px -72px;}
.post_con .post_colspan p span{display: block;padding: 0 1px 3px;}
.post_con .post_colspan p strong{font-size: 14px;letter-spacing: -1px;padding: 0;color:#fff}
.post_con .post_normal{width: 138px;height: 149px;border: 0;background-color: #f58b4e;}
.post_con .post_normal a{padding: 25px 14px 0;}
.post_con .post_normal a:hover strong{text-decoration: none;color: #fff;	}
.post_con .post_normal a:hover span{text-decoration: underline;}
.post_con .post_normal strong{font-size: 16px;color:#fff;line-height: 22px;letter-spacing: -1px;margin-bottom: 2px;}
.post_con .post_normal span{font-size: 11px;color:#eee;letter-spacing: -1px;padding: 0 10px;}

.post_footer {position: relative;height: 13px;border-top: 1px solid #e7e7e7;margin-top: -2px;background-color: #fff;padding: 17px 17px 14px;}
.post_footer > a{float: left;background: url(../images/sp_vertical.png) no-repeat 0 -248px;font-weight: bold;font-size: 11px;padding-left: 15px;color: #888;letter-spacing: -0.09em;}
.post_footer ul.on{display: block;}
.post_footer ul{display: none;float: left;padding-left: 5px;margin: -1px 0 0 8px;background: url(../images/sp_vertical.png) no-repeat 0 -288px;}
.post_footer ul li{float: left;letter-spacing: -1px;margin-left: 4px;padding-left: 4px;background: url(../images/sp_vertical.png) no-repeat 0 -327px;}
.post_footer ul li:first-child{background: none;}
.post_footer ul li a{color:#888;font-size: 11px;}
.post_footer ul li a:hover,.post_footer ul li a:focus{text-decoration: underline;}
.post_footer .page_arrow{position: absolute;right: 14px;top: 13px;}
.post_footer .page_arrow p{font-family: 'tahoma',sans-serif;float: left;font-weight: bold;font-size: 10px;color: #bbb;margin:2px 6px 0}
.post_footer .page_arrow p span{color:#888}
.post_footer .page_arrow a{display: block;width: 24px;height: 24px;float: left;background: url(../images/icon.png) no-repeat -188px -36px;overflow: hidden;text-indent: -9999px;margin-top: -2px;}
.post_footer .page_arrow a + a{width: 25px;background-position:-216px -36px;}
.post_footer:after{content:""; display: block;clear: both;}

/* 쇼핑 부분 */
#shop_box{position: relative;float: right;width: 298px;margin-top: 5px; border: 1px solid #d6d6d6;letter-spacing: -1px;}
.shop_top{height: 45px;background-color: #f3f3f4;border-bottom: 1px solid #d6d6d6;}
.shop_top h3{width: 58px;height: 18px;float: left;background: url(../images/shop.png) no-repeat -308px -182px;margin: 13px 14px;}
.shop_top h3 a{display: block;overflow: hidden;text-indent: -9999px;}
.shop_top ul{float: right;margin-right: -1px;}
.shop_top ul li{position: relative;float: left;width: 56px;height: 46px;margin-left: -1px;}
.shop_top ul li a{display: block;height: 46px;overflow: hidden;text-indent: -9999px;}
.shop_top ul .s_pro{background: url(../images/shop.png) no-repeat -277px -50px;}
.shop_top ul .s_pro.on{background-position: -277px -101px;z-index: 2;}
.shop_top ul .s_mall{background: url(../images/shop.png) no-repeat -338px -50px;}
.shop_top ul .s_mall.on{background-position: -338px -101px;z-index: 2;}
.shop_top ul .s_men{background: url(../images/shop.png) no-repeat -399px -50px;}
.shop_top ul .s_men.on{background-position: -399px -101px;z-index: 2;}

.shop_con {padding: 14px 14px 1px}
.shop_con .shop_brand{overflow: hidden;}
.shop_con .shop_brand li{float: left;padding-left: 7px;margin-left: 6px;background: url(../images/sp_vertical.png) no-repeat 0 -326px;font-size: 11px;}
.shop_con .shop_brand li:first-child{background: none; padding: 0 !important;margin: 0 !important;}
.shop_con .shop_brand + .shop_brand{margin-top: 7px;}
.shop_con .shop_brand + .shop_brand li{padding-left: 4px;margin-left: 3px;}
.shop_con .shop_list{width: 276px;margin-top: 11px;padding-top: 36px;border-top: 1px solid #e3e3e3;overflow: hidden;}
.shop_con .shop_list li{float: left;text-align: center;margin-right: 6px;}
.shop_con .shop_list li a{display: block;height: 147px;font-size: 11px;letter-spacing: -1px;color:#616161;}
.shop_con a:hover,.shop_con a:focus{text-decoration: underline;color:#390 !important;}
.shop_con .shop_list li a p{padding-top: 5px;}

.shop_bot{background-color: #f7f7f7;border-top: 1px solid #ececec;padding: 21px 15px 15px;position: relative;}
.shop_bot h4{height: 18px;background: url(../images/shop.png) no-repeat -358px -152px;text-indent: -9999px;}
.shop_bot > a{position: absolute;top: 17px;right: 13px;display: block;width: 25px;height: 22px;background: url(../images/shop.png) no-repeat -277px -181px;overflow: hidden;text-indent: -9999px;}
.shop_bot ul{margin-top: 2px;overflow: hidden;}
.shop_bot ul li{margin-top: 9px;}
.shop_bot ul li em{color:#8262d6;margin-right: 8px;}
.shop_bot ul li a:hover em,.shop_bot ul li a:focus em{text-decoration: underline;color: #390;}
.shop_bot ul li a:hover,.shop_bot ul li a:focus{text-decoration: underline;color: #390;}
.shop_bot ul li span{color: #19c000;}

#shop_box .page_arrow{position: absolute;top: 114px;right: 14px;}
#shop_box .page_arrow p{font-family: 'tahoma',sans-serif;float: left;font-weight: bold;font-size: 10px;color: #bbb;margin:2px 6px 0}
#shop_box .page_arrow p span{color:#888}
#shop_box .page_arrow a{display: block;width: 24px;height: 24px;float: left;background: url(../images/icon.png) no-repeat -188px -36px;overflow: hidden;text-indent: -9999px;margin-top: -2px;}
#shop_box .page_arrow a + a{width: 25px;background-position:-216px -36px;}

.con_foot{float: left;overflow: hidden;width: 940px;margin-top: 17px;letter-spacing: -1px;}
.con_foot a:hover,.con_foot a:focus{text-decoration: underline;color: #390;}
.con_foot div{float: left;width: 270px;margin: 8px 0 0 47px;}
.con_foot div:first-child{margin-left: 0;}
.con_foot div a{display: block;overflow: hidden;}
.con_foot div p{margin-top: 9px;letter-spacing: 0;line-height: 16px;color:#888}
.con_foot div p:first-child{float: left;margin:0 16px 0 0;}
.con_foot div span{display: block;font-size: 11px;color: #21a900;padding-top: 6px;}
.con_foot div strong{display: block;font-size: 14px;margin-top: 5px;letter-spacing: 0;color: #333;}
.con_foot .ad_foot{float: right;margin:0;width: 300px;overflow: hidden;}

/* #footer */
#footer{clear: both;overflow: hidden;width: 940px;margin: 17px auto;letter-spacing: -1px;}
#footer a:hover,#footer a:focus{text-decoration: underline;}
.foot_noti{background-color: #fafafa;border-top: 2px solid #333;border-bottom: 1px solid #ebebeb;padding: 11px 15px 9px;overflow: hidden;}
.foot_noti strong{float: left;margin-right: 8px;}
.foot_noti p{float: left;}
.foot_noti p + strong{float: right;margin-right: 194px;padding-right: 9px;background: url(../images/bullet.png) no-repeat 100% -27px}
.foot_noti p + strong a:hover,#footer div p + strong a:focus{color:#390}
.foot_con{width: 772px;padding: 22px 84px 30px ;float: left;}
.foot_con ul{float: left;}
.foot_con ul a:hover,#footer ul a:focus{color: #390;}
.foot_con ul li{float: left;margin-right: 7px;padding-left: 7px;background: url(../images/bullet.png) no-repeat 0 -90px;}
.foot_con ul li:first-child{background: none;padding: 0;}	
.foot_con p{float: left;letter-spacing: 0;white-space:nowrap}